
@{
    ViewData["Title"] = "MoreDetails";
}

<h2>Demonstrating Temp Data</h2>

<h3>@TempData["Message"]</h3>
<h5>There are @TempData["EmployeeCount"] employees in list.</h5>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in TempData["Employees"] as List<Employee>)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Salary</td>
            </tr>
        }
    </tbody>
</table>

<hr/>

@{
    TempData.Keep("Message");
}

<a asp-controller="Employee" asp-action="Check">Check Me</a>

